<div class="alert alert-success mt40">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	<strong>Hero Has Been Added</strong> and Assigned to <strong>$newMember.getSquadName()</strong>. <a href="/" class="alert-link">Go Back</a>.
</div>