<div class="alert alert-success mt40">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
	<strong>Hero Has Been Added!</strong> You Can Now Add This Character to a Squad. <a href="/" class="alert-link">Go Back</a>.
</div>