<!DOCTYPE html>
<html>
<head>
    <title>To Do List</title>
    <link rel='stylesheet' href='/css/bootstrap.css'>
    <link rel='stylesheet' href='/css/font-awesome.css'>
    <link rel='stylesheet' href='/css/lato.css'>
    <link rel='stylesheet' href='/css/style.css'>
</head>
<body>
    <div class="container">
      	#parse( $template )
    </div>
</body>
</html>